html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

body {
	overflow: auto;
}

div, p {
	margin: 0;
  	padding: 0;
  	border: 0;
}

#top-backdrop {
	background-image: url('../images/fjord.jpg');
	width: 1600px;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0;
	left: 0;
	position: absolute;
}

#intro {
	height: 120px;
	width: 500px;
	background-color: lightskyblue;
	top: 400px;
	left: 30px;
	position: absolute;
	border: solid 1px lightskyblue;
	border-radius: 25px;
}

#myname {
	font-size: 48px;
	padding: 5px;
	color: white;
	text-shadow: 0.5px 1px;
	letter-spacing: 0.04em;
	text-align: center;
	font-family: 'Montserrat', serif;
}

#welcome {
	font-size: 36px;
	padding: 5px;
	padding-left: 15px;
	color: white;
	text-shadow: 2px 1px;
	letter-spacing: 0.04em;
	font-family: 'Raleway', serif;
}

#projects-banner {
	width: 1600px;
	height: 70px;
	background-color: lightskyblue;
	font-family: 'Raleway', serif;
	font-size: 30px;
	position: absolute;
	top: 600px;
	text-align: center;
	padding: 20px;
}

#nextSection {
	background-color: lightgrey;
}

#firstprojectwrapper {
	height: 400px;
	width: 1600px;
	display: flex;
	position: absolute;
	top: 670px;
}

#tictactoe {
	order: 1;
	width: 50%;
	background-color: peru;
}

#firstprojectwrapper p {
	font-family: 'Montserrat', serif;
	font-size: 24px;
	padding: 10px;
	text-align: center;
	color: white;
}

#tictacimage, #topsifyimage {
	height: 200px;
	width: 200px;
	border: solid 1px black;
	border-radius: 100px;
	display: block;
	margin-left: 300px;
	margin-top: 45px;
}

#topsify {
	order: 2;
	width: 50%;
	background-color: teal;
}



