html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

body {
	overflow: auto;
	min-width: 600px;
}

div, p {
	margin: 0;
  	padding: 0;
  	border: 0;
}

#top-backdrop {
	background-image: url('../images/fjord.jpg');
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: -100px;
	left: 0;
	position: absolute;
}

#intro {
	height: 120px;
	width: 500px;
	background-color: lightskyblue;
	top: 400px;
	left: 30px;
	position: absolute;
	border: solid 1px lightskyblue;
	border-radius: 25px;
}

#myname {
	font-size: 48px;
	padding: 5px;
	color: white;
	text-shadow: 0.5px 1px;
	letter-spacing: 0.04em;
	text-align: center;
	font-family: 'Montserrat', serif;
}

#welcome {
	font-size: 36px;
	padding: 5px;
	padding-left: 15px;
	color: white;
	text-shadow: 2px 1px;
	letter-spacing: 0.04em;
	font-family: 'Raleway', serif;
}

#projects-banner {
	width: 100%;
	height: 70px;
	background-color: lightskyblue;
	font-family: 'Raleway', serif;
	font-size: 30px;
	position: absolute;
	top: 500px;
	text-align: center;
	padding: 20px;
	color: white;
	font-weight: bold;
	letter-spacing: 0.03em;
}

#projectwrapper {
	display: block;
	margin-top: 570px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

#projectwrapper > div {
	width: 100%;
	height: 500px;
	min-width: 600px;
	border: solid black 2px;
}

.imageleftposition, .imagerightposition {
	width: 400px;
	height: 400px;
	margin-top: 40px;
}

.imageleftposition {
	float: left;
	margin-left: 40px;
}

.imagerightposition {
	float: right;
	margin-right: 40px;
}

#stockshover, #topsifyhover, #shoppinghover, #hotorcoldhover, #quizhover, #dfmhover {
	display: none;
	margin: 0;
	height: 500px;
	min-width: 600px;
	background-color: lightblue;
	color: black;
}

.textright {
	width: 700px;
	margin-right: 30px;
	margin-top: 0px;
	float: right;
}

.textleft {
	width: 700px;
	margin-left: 30px;
	margin-top: 0px;
	float: left;
}

.title {
	font-size: 35px;
	font-family: 'Montserrat', serif;
	text-align: center;
	display: block;
}

#projectwrapper .explanation {
	text-align: left;
	display: block;
	font-size: 24px;
}

#projectwrapper .features {
	text-align: left;
	padding-left: 10px;
	font-size: 20px;
}


#projectwrapper p {
	font-family: 'Montserrat', serif;
	font-size: 35px;
	padding: 10px;
	text-align: center;
}

#stocksimage, #topsifyimage, #shoppingimage, #hotorcoldimage, #quizimage, #drawformeimage {
	border: solid 1px black;
	border-radius: 200px;
	height: 350px;
	width: 350px;
}

#dfmnormal .imagerightposition, #stocksnormal .imageleftposition, #shoppingnormal .imagerightposition, #topsifynormal .imageleftposition, #hotorcoldnormal .imagerightposition, #quiznormal .imageleftposition {
	margin-top: 0px;
}

#dfmhover .imagerightposition, #stockshover .imageleftposition, #shoppinghover .imagerightposition, #topsifyhover .imageleftposition, #hotorcoldhover .imagerightposition, #quizhover .imageleftposition {
	margin-top: 60px;
}


#stocksgame, #drawforme, #topsify, #shopping, #hotorcold, #quiz {
	background-color: grey;
}

.end {
	width: 100%;
	height: 180px;
	display: block;
	position: absolute;
	top: 3570px;
}

.end .flexwrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -30px;
}

.end #twitter {
	height: 50px;
	width: 50px;
	display: 2;
}

.end #email {
	height: 60px;
	width: 60px;
	display: 3;
}

.end #hrleft {
	display: 1;
	width: 30%;
	height: 2px;
	margin-right: 3%;
}

.end #hrright {
	display: 4;
	width: 30%;
	height: 2px;
	margin-left: 3%;
}

.end h4 {
	margin-top: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 3em;
	text-align: center;
}

