html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

@media screen and (max-width: 500px) {
	#top-backdrop {
		background-image: url('../images/fjord.jpg');
		width: 500px;
		height: 500px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		top: 0;
		left: 0;
		position: absolute;
	}

	#firstprojectwrapper {
		display: block;
	}

}

body {
	overflow: auto;
	min-width: 600px;
}

div, p {
	margin: 0;
  	padding: 0;
  	border: 0;
}

#top-backdrop {
	background-image: url('../images/fjord.jpg');
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0;
	left: 0;
	position: absolute;
}

#intro {
	height: 120px;
	width: 500px;
	background-color: lightskyblue;
	top: 400px;
	left: 30px;
	position: absolute;
	border: solid 1px lightskyblue;
	border-radius: 25px;
}

#myname {
	font-size: 48px;
	padding: 5px;
	color: white;
	text-shadow: 0.5px 1px;
	letter-spacing: 0.04em;
	text-align: center;
	font-family: 'Montserrat', serif;
}

#welcome {
	font-size: 36px;
	padding: 5px;
	padding-left: 15px;
	color: white;
	text-shadow: 2px 1px;
	letter-spacing: 0.04em;
	font-family: 'Raleway', serif;
}

#projects-banner {
	width: 100%;
	height: 70px;
	background-color: lightskyblue;
	font-family: 'Raleway', serif;
	font-size: 30px;
	position: absolute;
	top: 600px;
	text-align: center;
	padding: 20px;
	color: white;
	font-weight: bold;
	letter-spacing: 0.03em;
}

#nextSection {
	background-color: lightgrey;
}

#firstprojectwrapper {
	height: 400px;
	width: 100%;
	display: flex;
	position: absolute;
	top: 670px;
	color: white;
	min-width: 600px;

}

#secondprojectwrapper {
	height: 400px;
	width: 100%;
	display: flex;
	position: absolute;
	top: 1070px;
	color: white;
	min-width: 600px;
}

#thirdprojectwrapper {
	height: 400px;
	width: 100%;
	display: flex;
	position: absolute;
	top: 1470px;
	color: white;
	min-width: 600px;
}

#tictactoe {
	order: 1;
	width: 50%;
	background-color: peru;
}

.imageposition {
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	height: 260px;
}

#firstprojectwrapper a, #secondprojectwrapper a, #thirdprojectwrapper a {
	height: 260px;
	width: 260px;

}

#firstprojectwrapper p, #secondprojectwrapper p, #thirdprojectwrapper p {
	font-family: 'Montserrat', serif;
	font-size: 25px;
	padding: 10px;
	text-align: center;
	margin-bottom: 30px;
}

#tictacimage, #topsifyimage, #shoppingimage, #hotorcoldimage, #quizimage, #streetfighterimage {
	border: solid 1px black;
	border-radius: 130px;
}

#topsify {
	order: 2;
	width: 50%;
	background-color: teal;
}

#shopping {
	order: 1;
	width: 50%;
	background-color: forestgreen;
}

#hotorcold {
	order: 2;
	width: 50%;
	background-color: rebeccapurple;
}

#quiz {
	order: 1;
	width: 50%;
	background-color: maroon;
}

#streetfighter {
	order: 2;
	width: 50%;
	background-color: peru;
}

.end {
	width: 100%;
	height: 180px;
	position: absolute;
	top: 1870px;
}

.end .flexwrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -30px;
}

.end #twitter {
	height: 50px;
	width: 50px;
	display: 2;
}

.end #email {
	height: 60px;
	width: 60px;
	display: 3;
}

.end #hrleft {
	display: 1;
	width: 30%;
	height: 2px;
	margin-right: 3%;
}

.end #hrright {
	display: 4;
	width: 30%;
	height: 2px;
	margin-left: 3%;
}

.end h4 {
	margin-top: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 3em;
	text-align: center;
}

